.hello {
  background-color: rgb(15, 158, 27);
  color: white;
  text-align: center;
  margin: 20px;
  padding: 5px;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

.title {
  color: black;
}

.headline {
  color: black;
  padding: 100px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  background-image: url("sajib.png");
  background-repeat: no-repeat;
  background-position: top;
}

.image {
  align-items: center;
  padding-top: 100px;
}

.main-head {
  text-align: center;
  margin-bottom: 20px;
}

.main-section {
  height: 50%;
  width: 50%;
  margin-top: 150px;
}

.main {
  padding: 20px;
}

.div {
  border: 5px;
  border-style: ridge;
  text-align: center;
  font-family: arial black;
  letter-spacing: 2px;
  background-color: dodgerblue;
  opacity: 70%;
  color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  border-color: yellowgreen;
  border-width: 10px;
}

.headsajib {
  text-align: center;
  color: black;
  background-color: dodgerblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
